extends ../layout/hero-two-col

//- blank or at least small
block profile
  <div class='separator'></div>

//- First column - Submenuss
block information
  div#left-col-menus
    h1 Team Settings
    if !mentor
      p.help-info This shows your current team.
    else
      if (team)
        h5= team.name

      ul
        li.left-menu-item
          a(href='/team/edit', class= currentPage=='/edit' ? "active-link" : "") Team Profile
        li.left-menu-item
          a(href='/team/edit/logo', class= currentPage=='/edit/logo' ? "active-link" : "") Change Logo
        li.left-menu-item
          a(href='/team/edit/members', class= currentPage=='/edit/members' ? "active-link" : "") Manage Members
        li.left-menu-item
          a(href='/team/edit/fundraising', class= currentPage=='/edit/fundraising' ? "active-link" : "") Fundraising


//- Second column for various profile items
block activities
  div#main-form-content
    if !mentor
      ul#list-of-team
        li.team-to-join.clearfix
          img.team-logo(src= team.logo, width="70px", height="70px")
          div.team-info
            h3
              a(href= '/team/' + team.name)= team.name
            p= team.description
            if !team || !team._id.equals(user.team)
              form(class='join-team', action='/team/join', method='POST')
                input(type='hidden', name='team[_id]', value= team._id)
                button.blue-button Join
            else if team._id.equals(user.team)
              form(class='join-team', action='/team/leave', method='POST')
                input(type='hidden', name='team[_id]', value= team._id)
                button.blue-button Leave
                span &nbsp;&nbsp; Current Team
    else
      case currentPage
        when '/edit'
          form#main-form(action='/team/edit', method='POST', ng-app)
            table#profile-area
              tr#name-area
                td
                  label Name
                td
                  input(type='text', name='team[name]', value= team.name)
              tr#description-area
                td
                  label Description
                  sub 200 characters
                td
                  textarea(name='team[description]', value= team.description)= team.description
              tr#team-league
                td
                  label League
                  sub Choose the league your team will participate on
                td
                  select(name='team[league]')
                    option(value='') No League
                    each league in leagues
                      if team.league === league
                        option(value= league,
                           selected="selected")= league
                      else
                        option(value= league)= league
              tr.submit
                td &nbsp;
                td
                  button(class='blue-button') Update Profile
        when '/edit/logo'
          form#main-form(action='/team/edit/logo', method='POST', enctype="multipart/form-data")
            table#profile-area
              tr#name-area
                td
                  img(src= team.logo, width='100px', height='100px')
                td
                  input(type='file', name='photo')
              tr.submit
                td &nbsp;
                td
                  button(class='blue-button') Upload Photo
        when '/edit/members'
          div Under Construction
        when '/edit/fundraising'
          form#main-form(action='/team/edit/fundraising', method='POST')
            table#donation-profile
              tr
                td
                  label Fundraising Link
                    sup *
                td
                  input(type='text' name='team[fundraising_link]'
                    value= team.fundraising_link onClick="this.select();" )
              tr
                td &nbsp;
                td
                  button(class='blue-button') Update Link
              tr
                td &nbsp;
                td
                  div.info
                    p * By creating your own Grassroots fundraising page, you will allow people to sponsor your phonebanking by donating to Bernie's campaign.
                    p
                      a(href='https://secure.berniesanders.com/page/outreach/settings/grassroots-fundraising', target='_blank') Create your personal Grassroots Fundraising Page
        default
          p

//- Third column
block more
  script(src= '/node_modules/angular/angular.js')
  script(type='text/javascript').
    (function(angular) {

    })(window.angular);

