extends ../layout/two-col

block left_content
  div.flag-container
    div.flag.ribbon.ribbon-right Weekly Caller Ranking
  div#indiv-weekly-chart.stats-chart.clearfix
    div.weekly-participants.participants
      ul
        - for( var i = 0; i < weeklyRanking.length; i ++) {
          - var rank = weeklyRanking[i];
          - if ( !rank.count ) continue;
            li.rank-item
              div.rank= i+1
              if rank._id.user.photo
                div.photo(style= "background-image: url(" + rank._id.user.photo + ")")
              else
                div.photo(style= "background-image: url(/images/profile.jpg)")
              div.name
                h5
                  a(href= "/user/" + rank._id.user.username)= rank._id.user.username
                h3= rank.count
        - };
    div#weekly-chart.actual-chart

block right_content
  div.flag-container
    div.flag.ribbon.ribbon-right Overall Caller Ranking
  div#indiv-overall-chart.stats-chart.clearfix
    div.overall-participants.participants
      ul
        - for( var i = 0; i < overallRanking.length; i ++) {
          - var rank = overallRanking[i];
          - if ( !rank.count ) continue;
            li.rank-item
              div.rank= i+1

              if rank._id.user
                div.photo(style= "background-image: url(" + rank._id.user.photo + ")")
              else
                div.photo(style= "background-image: url(/images/profile.jpg)")

              div.name
                h5
                  if rank._id.user
                    a(href= "/user/" + rank._id.user.username)= rank._id.user.username
                h3= rank.count
        - };
    div#overall-chart.actual-chart

block script_content
  script(type='text/javascript').
    window.overallData= !{JSON.stringify(overallRanking)};
    window.weeklyData= !{JSON.stringify(weeklyRanking)};

  script(type='text/javascript').
    window.pageFactory = (function(){
      //Generate bar chart for weekly
      c3.generate({
        bindto: "#weekly-chart",
        data: {
          columns: [
            ['Calls Made'].concat(window.weeklyData.map(function(item){ return item.count; }))
          ],
          type: 'bar'
        },
        axis: {
          rotated: true,
          x: {
            type: 'category',
            categories: window.weeklyData.map(function(item){ return item._id.user.username; }),
            show: false
          },
          y: {
            show: false
          }
        },
        legend: {
          show: false
        }
      });

      // GEnerate bar for overall
      c3.generate({
        bindto: "#overall-chart",
        data: {
          columns: [
            ['Calls Made'].concat(window.overallData.map(function(item){ return item.count; }))
          ],
          type: 'bar'
        },
        axis: {
          rotated: true,
          x: {
            type: 'category',
            categories: window.overallData.map(function(item){ return item._id.user.username; }),
            show: false
          },
          y: {
            show: false
          }
        },
        legend: {
          show: false
        }
      });
    })();
