extends layout/hero-two-col

block profile
  div.profile-area.clearfix
    div.profile-img
      img(src= team.logo)
    div.profile-name-status
      h1 Team #{team.name} (#{members.length == 1 ? members.length + " Member" : members.length + " Members"})
      h3 Mentor:&nbsp;
        a(href= "/user/" + team.mentor.username)= team.mentor.username
      div.call-counters.clearfix
        div.call-count
          .hero= calls.monthlyCount
          div Calls & Texts Made
          div This month
          //- div since Jul 2015
        div#monthly-chart.call-chart

block information
  if team.description
    div.about-team
      h4 About #{team.name}
      div.decription
        p= team.description

  div.info-ranking.clearfix
    h4 Rankings
    div.personal-ranking
      a(href='/rank/team')
        span.label This Week
      span.rank!= team.weekly_ranking
    div.overall-ranking
      a(href='/rank/team')
        span.label Overall
      span.rank!= team.overall_ranking

  //team calls for the last 30 days
  div.last-30-days
    h4 This Week
    div.weekly-calls.clearfix
      h5
        div.hero= calls.weeklyCount
        div Calls and texts Made
      div#weekly-calls

  //list of all members
  div.member-list-area
    h4 Members (#{members.length == 1 ? members.length + " Member" : members.length + " Members"})
      ul.member-list
        each mem in members
          li.member-item
            a.member(href="/user/" + mem.username)
              img(src= mem.photo)
  div.member-list-area
    h4(style='margin-bottom: 4px;') Invite others to join
    input(type='text', value='http://www.phonebankduel.com/j/' + team.short_id,
            onclick='this.select()')

  //Join team
  div.join-team
    if user
      if !team || !team._id.equals(user.team)
        form(class='join-team', action='/team/join', method='POST')
          input(type='hidden', name='team[_id]', value= team._id)
          button.blue-button Join #{team.name}
      else
        form(class='join-team', action='/team/leave', method='POST')
          input(type='hidden', name='team[_id]', value= team._id)
          button.blue-button Leave #{team.name}
    else
      a(href='/j/' + team.short_id).blue-button.join-team Join #{team.name}

block activities
  if user && activities.length == 0 && user.team && user.team.equals(team._id)
    include partial/first_time.jade

  else
    ul.activity-list.team-activity-list
      each activity in activities
        li.activity-item.team-activity-item
          div.action-area.clearfix
            div.img-area(style="background-image: url(" + activity.icon + ")")
              a.fill-space
            div.act
              p.act-text
                if activity.source.label
                  a.act-actor(href= activity.source.url)= activity.source.label || "A member of Team"+team.name
                else
                  span.act-actor(href= "javascript: void(null);")=  "A member of Team "+team.name
                span.act-action= activity.action
                a.act-recipient(href= activity.target.url)= activity.target.label
                span.act-time-ago= activity.time_ago
              p.act-brand
                each user in activity.users_involved
                  a(href='/user/' + user.username)
                    img(src= user.photo, style='width: 30px; height: 30px;')
                div.team-activity!= activity.banner

block more
  div.slack-to-action
    a(href='https://docs.google.com/forms/d/1TMrM4xFagI7SqzSD5qr2VPGUlV9jopisNOnecYq9Cgc/edit?usp=forms_home', target='_blank')
      img(src='/images/slack.png', width='100%', height='auto')
    a(href='https://docs.google.com/forms/d/1TMrM4xFagI7SqzSD5qr2VPGUlV9jopisNOnecYq9Cgc/edit?usp=forms_home', target='_blank')
      span
        strong Join The Call Team Slack
    p Join the growing community of volunteers who are reaching out to other volunteers and early states by phone.
    a(href='https://docs.google.com/forms/d/1TMrM4xFagI7SqzSD5qr2VPGUlV9jopisNOnecYq9Cgc/edit?usp=forms_home', target='_blank').blue-button Join

  div.call-to-action
    if team.fundraising_link
      a.cta.blue-button(href= team.fundraising_link, target='_blank', style='line-height: 1; font-size: 12px; margin-top: 30px;') Pledge to Sponsor <br/>Team #{team.name}
  //- div.badges
  //-   ul.badges-list
  //-     - for(var i = 0; i < 2; i ++) {

  //-       li.badge-item.clearfix
  //-         div.badge-img(style="background-image: url(/images/profile.jpg)")
  //-         div.badge-label
  //-           h4 Bernie Sanders Award for Best Caller
  //-           span.date-received Dec 1 2015
  //-     - }
block scripts
  script(src='/javascripts/d3.js', type='text/javascript')
  script(src='/javascripts/c3.js', type='text/javascript')
  script(type='text/javascript').
    window.weeklyData = !{calls.weekly};
    window.monthlyData = !{calls.monthly};
  script(type='text/javascript').
    window.pageFactory = (function(){
      // Arrange weekly data
      if (window.weeklyData.length > 0)
      c3.generate({
        bindto: '#weekly-calls',
        data: {
          x: 'date',
          columns: [
            ['date'].concat(window.weeklyData.map(function(i){ return i._id})),
            ['calls'].concat(window.weeklyData.map(function(i){ return i.count})),
            ['texts'].concat(window.monthlyData.map(function(i){ return i.texts ? i.texts : 0}))
          ],
          type: 'bar',
          groups: [['calls', 'texts']]
        },
        legend:{ show: false },
        axis: {
          x: {
            type: 'timeseries',
            tick: {
              format: '%a'
            },
            //- show: false
          },
          y: { show: false }
        },
        bar: {
          width: 20
        }
      });

      //Weekly dAta
      if (window.monthlyData.length > 0)
      c3.generate({
        bindto: '#monthly-chart',
        data: {
          x: 'date',
          columns: [
            ['date'].concat(window.monthlyData.map(function(i){ return i._id})),
            ['calls'].concat(window.monthlyData.map(function(i){ return i.count})),
            ['texts'].concat(window.monthlyData.map(function(i){ return i.texts ? i.texts : 0}))
          ],
          type: 'bar',
          groups: [['calls', 'texts']]
        },
        legend:{ show: false },
        axis: {
          x: {
            type: 'timeseries',
            //- tick: {
            //-   format: '%a'
            //- },
            //- show: false
          },
          y: { show: false }
        },
        bar: {
          width: 20
        }
      });


    })();
