extends layout/hero-two-col

block profile
  - if (user.password == '') {
      div.announcement
        h5 Are you #{user.username}? Own this account by <a href='/user/register'>registering</a> to the Phonebank Duel.
  - }
  div.profile-area.clearfix
    div.profile-img
      img(src= user.photo)
    div.profile-name-status
      h1 #{user.username}
      if user.team
        h3
          span Team&nbsp;
          a(href='/team/' + user.team.name)= user.team.name

      div.call-counters.clearfix
        div.call-count
          //- .hero= user.abbrev.calls_made
          .hero= calls.monthlyCount
          div Calls Made
          div this month
        div#monthly-chart.call-chart

block information

  div.info-ranking.clearfix
    h4 My Ranking
    div.personal-ranking
      a(href='/rank/caller')
        span.label This Week
      span.rank!= user.weekly_ranking
    div.overall-ranking
      a(href='/rank/caller')
        span.label Overall
      span.rank!= user.overall_ranking

  div.last-30-days
    h4 This Week
    div.weekly-calls.clearfix
      h5
        // div.hero= user.abbrev.calls_this_week
        div.hero= calls.weeklyCount
        div Calls Made
      div#weekly-calls

  div.call-to-action
    //a.cta.blue-button(href="#") Encourage Rapi
    if user.meta.fundraising_link
      a.cta.blue-button(href= user.meta.fundraising_link target="_blank") Pledge to Sponsor Rapi

block activities
  ul.activity-list
    each activity in activities
      li.activity-item
        div.action-area.clearfix
          div.img-area(style="background-image: url(#{activity.icon})")
            a.fill-space
          div.act
            p.act-text
              a.act-actor(href= activity.source.url)= activity.source.label
              span.act-action= activity.action
              a.act-recipient(href= activity.target.url)= activity.target.label
              span.act-time-ago= activity.time_ago
            p.act-brand
              div!= activity.banner

block more
  //- div.badges
  //-   ul.badges-list
  //-     - for(var i = 0; i < 2; i ++) {

  //-       li.badge-item.clearfix
  //-         div.badge-img(style="background-image: url(/images/profile.jpg)")
  //-         div.badge-label
  //-           h4 Bernie Sanders Award for Best Caller
  //-           span.date-received Dec 1 2015
  //-     - }

block scripts
  script(src='/javascripts/d3.js', type='text/javascript')
  script(src='/javascripts/c3.js', type='text/javascript')
  script(type='text/javascript').
    window.weeklyData = !{calls.weekly};
    window.monthlyData = !{calls.monthly};
  script(type='text/javascript').
    window.pageFactory = (function(){
      // Arrange weekly data
      c3.generate({
        bindto: '#weekly-calls',
        data: {
          x: 'date',
          columns: [
            ['date'].concat(window.weeklyData.map(function(i){ return i._id})),
            ['calls'].concat(window.weeklyData.map(function(i){ return i.count}))
          ],
          type: 'bar'
        },
        legend:{ show: false },
        axis: {
          x: {
            type: 'timeseries',
            tick: {
              format: '%a'
            },
            //- show: false
          },
          y: { show: false }
        },
        bar: {
          width: 20
        }
      });

      //Weekly dAta
      c3.generate({
        bindto: '#monthly-chart',
        data: {
          x: 'date',
          columns: [
            ['date'].concat(window.monthlyData.map(function(i){ return i._id})),
            ['calls'].concat(window.monthlyData.map(function(i){ return i.count}))
          ],
          type: 'bar'
        },
        legend:{ show: false },
        axis: {
          x: {
            type: 'timeseries',
            //- tick: {
            //-   format: '%a'
            //- },
            //- show: false
          },
          y: { show: false }
        },
        bar: {
          //- width: 20
        }
      });


    })();
